@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Global Styles */

:root {
	--background-color: #0A0757;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e9194b;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--gray: #E4E7F5;
	--gray2: #FCFDFF;
	--gray3: #737A96;
	--light-gray: #B1B5D3;
	--gray-dark: #323739;
	--primary: #1dbf73;
	--primary-100: #109255;
	--primary-disabled: #49c98d;
	--secondary: #d9dcdf;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--white: #fff;
	--danger: #dc3545;
	--light: #5d6063;
	--dark: #131c21;
	--dark-header: #2A2F32;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-family-inter: 'Inter', sans-serif;
	--font-family-macan: macan, helvetica neue, Helvetica, Arial, sans-serif;
}

*,
::after,
::before {
	box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
	 :root {
		scroll-behavior: smooth
	}
}

body {
	margin: 0;
	font-family: var(--font-family-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}


/* Comman style */

.btn-primary {
	color: #fff;
	background-color: var(--primary);
	border-color: var(--primary);
	padding: 15px 24px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
}

.btn-primary:hover {
	color: #fff;
	background-color: var(--primary-100);
	border-color: var(--primary-100);
	--webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: var(--primary-100);
	border-color: var(--primary-100);
	box-shadow: none;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: var(--primary);
	border-color: var(--primary);
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: var(--primary-disabled);
	border-color: var(--primary-disabled);
}

.btn-link {
	text-decoration: none;
}

.btn-link>svg {
	margin: 0 5px 0 0;
}

.btn-link {
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	color: #fff;
	text-decoration: none;
	font-family: var(--font-family-macan);
	width: auto;
	overflow: visible;
}

.btn-link:hover {
	color: var(--primary);
	--webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.link {
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	color: var(--primary);
	text-decoration: none;
	font-family: var(--font-family-macan);
	width: auto;
	overflow: visible;
}

.link:hover {
	color: var(--primary);
	text-decoration: underline;
}

.catlogs_sec h1 {
	font-family: var(--font-family-macan);
	font-size: 28px;
	font-weight: 600;
	color: #0d084d;
	padding: 0 0 16px;
	margin: 0 214.5px;
}

.catlogs_sec p {
	font-family: var(--font-family-macan);
	color: #545480;
	font-size: 16px;
	padding: 0 0 48px;
	margin: 0 214.5px;
}

nav.navigation {
	text-align: left;
	background-color: var(--background-color);
}

nav.navigation a {
	color: #fff;
	text-decoration: none;
	font-size: 40px;
}

nav.navigation .navbar-brand>span:first-child {
	font-weight: 800;
	font-family: unset;
}

nav.navigation .navbar-brand>span:last-child {
	font-weight: 300;
	font-family: unset;
}

.top_header_video_sec {
	width: 100%;
	max-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
}

.jumbotron {
	background-color: var(--background-color);
	color: #fff;
	width: 100%;
	overflow: hidden;
}

.jumbotron .container-fluid {
	padding: 0;
	text-align: center;
}

.jumbotron .container-fluid .content_sec {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.jumbotron .container-fluid h1 {
	font-size: 48px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
}

.jumbotron .container-fluid h1 span {
	font-family: 'Times New Roman', Times, serif;
}

.jumbotron .container-fluid p {
	font-size: 20px;
	line-height: 26px;
	color: #e4e4ec;
	font-weight: 500;
}

.partners_container {
	padding: 50px 0;
	text-align: center;
	overflow: hidden;
}

.partners {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.partners div {
	margin: 20px;
}

.go_to_bottom {
	width: 100%;
	overflow: hidden;
	position: relative;
	bottom: 20px;
	left: 20px;
}

.go_to_bottom a {
	position: relative;
	color: #fff;
	animation-name: gotobottom;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: var(--primary);
}

.odd_evven_content_sec .container .row .col-12 h1 {
	color: #0d084d;
	padding: 0 0 16px;
	font-size: 28px;
	font-family: var(--font-family-macan);
}

.odd_evven_content_sec .container .row .col-12 p {
	color: #545480;
	padding: 0 0 16px;
	font-size: 16px;
	font-family: var(--font-family-macan);
}

.our_plans_sec h1 {
	color: #0d084d;
	font-size: 28px;
	font-family: var(--font-family-macan);
	text-align: center;
	padding: 0 20px 30px;
	font-weight: 700;
}

.our_plans_sec .links {
	display: block;
	overflow-x: hidden;
	width: 100%;
	text-align: center;
}

.our_plans_sec .links a {
	color: #e7e6ed;
	padding: 0 24px;
	font-size: 40px;
	font-family: var(--font-family-macan);
	text-decoration: none;
	font-weight: 700;
}

.our_plans_sec .links a:hover {
	color: #0d084d;
	--webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.app_store_container {
	background-color: #fafafa;
	padding: 40px 20px;
}

.app_store_container .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.app_store_container .container .content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.app_store_container .container .content p {
	margin-right: 20px;
	padding: 0;
	font-size: 1.2rem;
}

.app_store_container .container .content p a {
	text-decoration: none;
	font-weight: 500;
	color: #222222;
	font-size: 1.2rem;
}

.app_store_container .container .content p a:hover {
	color: #000;
	text-decoration: underline;
}

.app_store_container .app-icon img {
	max-width: 150px;
	margin-right: 20px;
}

.plans_card_sec {
	background: linear-gradient(180deg, rgba(10, 11, 74, 0), rgba(10, 11, 74, .06));
}

.plans_card_sec ul {
	list-style: none;
}

.plans_card_sec ul li {
	display: flex;
}

.plans_card_sec ul li p {
	font-size: 18px;
	color: #0d084d;
	font-family: var(--font-family-macan);
	line-height: 150%;
	padding: 0px 15px;
	text-align: left;
	font-weight: 500;
}

.plans_card_sec h1.sec_title {
	color: #0d084d;
	font-size: 28px;
	font-family: var(--font-family-macan);
	font-weight: 600;
}

.plans_card_sec .card {
	filter: drop-shadow(80px 80px 80px 0px rgba(0, 0, 0, .15));
	border-radius: 4px 4px 0 0;
	border: none;
}

.plans_card_sec .card .card-body .price sup {
	font-size: 24px;
	color: #0d084d;
	font-family: var(--font-family-macan);
}

.plans_card_sec .card .card-body .price b {
	font-size: 80px;
	color: #0d084d;
	font-family: var(--font-family-macan);
}

.plans_card_sec .card .card-body p {
	font-size: 14px;
	color: #0d084d;
	font-family: var(--font-family-macan);
}

.plans_card_sec .card .card-body .duration small {
	font-size: 20px;
	color: #0d084d;
	font-family: var(--font-family-macan);
}

.plans_card_sec .card .card-header {
	background-color: #0d084d;
	color: #fff;
}

.plans_card_sec .card .card-header h1 {
	font-size: 24px;
	font-family: var(--font-family-macan);
	padding: 16px 24px;
}

.Questions_sec .heading h1 {
	color: #0d084d;
	font-size: 28px;
	font-family: var(--font-family-macan);
	font-weight: 600;
	margin-bottom: 30px;
}

.Questions_sec .accordion {
	border: none;
}

.Questions_sec .accordion .accordion-item {
	border: none;
	background-color: #fff;
}

.Questions_sec .accordion .accordion-item .accordion-collapse {
	border: none;
}

.Questions_sec .accordion .accordion-item .accordion-header button {
	font-size: 16px;
	color: #0d084d;
	font-family: var(--font-family-macan);
	font-weight: 600;
	border: none;
	box-shadow: none;
	outline: none;
}

.Questions_sec .accordion .accordion-item .accordion-header button:focus {
	outline: none;
	background-color: #fff;
	box-shadow: none;
}

.Questions_sec .accordion .accordion-item .accordion-header button:active {
	outline: none;
	box-shadow: none;
}

.footer h1 {
	color: #fff;
	font-size: 48px;
	line-height: 53px;
	padding-bottom: 32px;
	font-weight: bold;
}

.footer .footer_text_centent {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: #fff;
	opacity: 0.8;
}

.footer .footer_text_centent div {
	margin-right: 20px;
}

.footer .footer_text_centent a {
	color: #fff;
	font-size: 14px;
	font-family: var(--font-family-macan);
	opacity: 0.8;
	text-decoration: none;
}

.footer .footer_text_centent a:hover {
	text-decoration: underline;
}

.footer .footer_text_centent p {
	color: #fff;
	font-size: 14px;
	font-family: var(--font-family-macan);
	opacity: 0.8;
}

@keyframes gotobottom {
	0% {
		top: -5px;
	}
	25% {
		top: 0px;
	}
	50% {
		top: 5px;
	}
	75% {
		top: 10px;
	}
	100% {
		top: 15px;
	}
}


/* Animtion Text */

.container_text_animation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_text_animation p {
	font-size: 3rem;
	padding: 0.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
}

.container_text_animation p span.typed-text {
	font-weight: normal;
	color: #dd7732;
}

.container_text_animation p span.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}

.container_text_animation p span.cursor.typing {
	animation: none;
}

@keyframes blink {
	0% {
		background-color: #ccc;
	}
	49% {
		background-color: #ccc;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: #ccc;
	}
}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
	nav.navigation {
		text-align: center;
	}
	.jumbotron .container-fluid .content_sec {
		padding: 32px;
	}
	.jumbotron .container-fluid .content_sec {
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.jumbotron .container-fluid h1 {
		font-size: 40px;
		word-break: keep-all;
	}
	.jumbotron .container-fluid p {
		font-size: 1.2rem;
		word-break: break-all;
	}
	.jumbotron .container-fluid .btn_grp {
		display: grid;
		padding: 2px;
	}
	.jumbotron .container-fluid .btn_grp a {
		margin-bottom: 20px;
	}
	.catlogs_sec div {
		margin-bottom: 30px;
	}
	.catlogs_sec h1 {
		font-size: 28px;
		padding: 0;
		margin: 0;
	}
	.catlogs_sec p {
		font-size: 16px;
		padding: 0;
		margin: 0;
	}
	.partners_container {
		padding: 20px 0;
		width: auto;
	}
	.partners {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	.partners div {
		margin: 10px;
		padding: 0 10px;
	}
	.our_plans_sec h1 {
		font-size: 25px;
		padding: 0;
	}
	.our_plans_sec .links a {
		padding: 0 10px;
		font-size: 20px;
	}
}

.image_gallery_modal button.close_btn {
	background-color: transparent;
	color: #fff;
	border: none;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 999;
}

.image_gallery_modal {
	width: 100%;
	height: 100vh;
	background-color: #21262A;
	color: #fff;
}

.image_gallery_modal button.close_btn:focus {
	outline: none;
}

.image_gallery_modal .modal-header {
	border: none;
}

.image_gallery_modal .modal-body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px 0px 100px 150px;
}

.image_gallery_modal .modal-body div {
	padding: 0;
}

.image_gallery_modal .modal-body div.slide_content {
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0 35px 0 0;
}

.image_gallery_modal .modal-body div.slide_content .content h5 {
	color: #fff;
	font-weight: 400;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	font-size: 36px;
	line-height: 60px;
}

.image_gallery_modal .modal-body div.slide_content .content p {
	opacity: 1;
	transform: translateX(0px);
	font-size: 16px;
	line-height: 35px;
}

.image_gallery_modal .modal-body div img {
	width: 100%;
	height: 100%;
}

.owl-stage {
	background-color: transparent;
}

.owl-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 20px;
}

.owl-nav button {
	width: 50px;
	border-radius: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 50px !important;
}

.owl-nav button:focus {
	outline: none;
}

@media(max-width:700px) {
	.image_gallery_modal .modal-body {
		padding-left: 20px;
		padding-top: 100px;
		padding-bottom: 150px;
	}
	.image_gallery_modal .modal-body div img {
		width: 100%;
		height: 100%;
	}
	.image_gallery_modal .modal-body div.slide_content {
		height: 100%;
		display: grid;
		justify-content: center;
		align-items: center;
		padding: 0 35px 0 0;
		overflow-y: scroll;
	}
}

button.btn-close:focus{
	outline: none;
	box-shadow: none;
	border-color: #fff;
}

/* loginFromModal */
.loginFromModal{
	color: #21262A;
}